chap*.html
chap*.txt
*.css
*.js
chooser.html
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lab
*.log
*.out
*.pnr
*.six
*.tex
*.toc
/doc/_*.xml
/doc/manual.pdf
/doc/title.xml
/doc/GBNP.xml

.depend
/example/*.g

/build/
/misc/
/examples/

/tmp/
/gh-pages/
