chap*.html
chap*.txt
*.css
*.js
/doc/chooser.html
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lab
*.log
*.out
*.pnr
*.six
*.tex
*.toc
/doc/manual.pdf
/doc/title.xml
/doc/nmo/nmo_doc.tex
/doc/nmo/manual.pdf

.depend
/example/*.g

/tmp/
/gh-pages/
